### MacOS
.DS_Store


### private gcode
_gcode_/gcode_private/


### VSCode
.vscode/


### Python

# Python 3
# Byte-compiled / optimized / DLL files
__pycache__/

# Python 2
# cache
*.pyc


### Virtualenv
### http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json